@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

body {
  width: fit-content;
  /* overflow: hidden; */
}
.navbar {
  justify-content: space-between;
  background-color: white;
}
/* .navbar-light .navbar-nav .nav-link:hover {
  color: purple !important;
} */
.navbar ul li a:hover {
  color: purple !important;
}
/* .navbar .my-nav .navbar-nav .nav-item .nav-link:hover {
  color: red !important;
} */

.nav-item a {
  font-size: 19px;
}
.img-fluid {
  width: 150px;
}
.fa-shopping-cart {
  padding-right: 8px;
}
.carousel-item {
  height: 100%;
}
.carousel-img {
  object-fit: contain;
  width: 100%;
}
a {
  transition: 0.26s;
}
.caption2 {
  color: black;
}
.caption1 {
  color: white;
}
.caption1:hover {
  color: black;
}
.caption2:hover {
  color: red;
}
.caption3 {
  color: white;
}
.caption3:hover {
  color: black;
}
.brands ul {
  /* border: 2px solid red; */
  /* margin: auto; */
  /* width: fit-content; */
  display: inline;
  /* justify-content: center; */
  list-style: none;
}
.caption4 {
  color: white;
}
.caption4:hover {
  color: rgb(18, 187, 150);
}
.brands {
  /* border: 2px solid red; */
  /* margin: auto; */
  /* display: inline-block; */
}
.brands ul li {
  width: fit-content;
  /* border: 2px solid red; */
  display: inline;
  padding: 20px;
}
/* display: inline; */
/* } */
/* .brands ul li {
  display: flex;
  border: 2px solid red;
  width: fit-content;
} */
.list-group li img {
  width: 100px;
}
.left-panel {
  height: fit-content;
  /* position: static; */
  width: fit-content;
  /* display: flex; */
  clear: left;
}
.left-panel ul {
  list-style: none;
  float: left;
}
/* .left-panel,
.products {
  border: 2px solid red;
} */
.products_container {
  display: flex;
  /* flex-wrap: wrap; */
}
.products {
  width: fit-content;
  /* align-self: center; */
  display: flex;
  /* float: right; */
  flex-wrap: wrap;
}
.card-header {
  background-color: darkgray !important;
  font-size: 18px;
}
.card {
  padding: 12px;
  /* border: 2px solid red; */
  /* float: right; */
  overflow: hidden;

  width: fit-content;
}
.card button {
  background-color: purple;
}
.card img {
  width: 300px;
}
.card-body,
.card-text h5 {
  width: 300px;
}
.checkbox input {
  padding-right: 10px;
}

#social ul {
  list-style: none;
  padding: 0;
}
#social ul li a {
  color: white;
  text-decoration: none;
}
#social ul li a:hover {
  color: purple;
}
#about_us ul,
#customer ul {
  list-style: none;
}
#about_us ul li a,
#customer ul li a {
  text-decoration: none;
  color: white;
}
#about_us ul li a:hover,
#customer ul li a:hover {
  color: purple;
}
